<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</head>

<body>
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-12 col-lg-8">
                <div class="hinhanh">
                    <img src="assets/img/anhdep.jpg" alt="" width="500px;">
                </div>
            </div>
            <div class="col-12 col-md-12 col-lg-4">
                <div class="chu">
                    <h1>HỌC TẬP LÀ CON ĐƯỜNG DUY NHẤT DẪN ĐẾN THÀNH CÔNG</h1>
                </div>
            </div>
        </div>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href="#">Assignment</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="#">Trang chủ <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" [routerLink]="['/lienhe']" routerLinkActive="router-link-active">Liên hệ
                            <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" [routerLink]="['/gioithieu']">Giới thiệu <span
                                class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" [routerLink]="['/gopy']">Góp ý <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" [routerLink]="['/hoidap']">Hỏi đáp <span class="sr-only">(current)</span></a>
                    </li>
                </ul>
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Tài khoản
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" [routerLink]="['/dangnhap']">Đăng nhập</a>
                            <a class="dropdown-item" [routerLink]="['/dangki']">Đăng kí</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" [routerLink]="['/doimatkhau']">Đổi mặt khẩu</a>
                            <a class="dropdown-item" [routerLink]="['/suadoi']">Sửa đổi tài khoản</a>
                        </div>
                    </li>
                </ul>

            </div>
        </nav>
        <div class="row">
            <div class="col-12 col-md-12 col-lg-12">
                <div class="alert alert-dark" role="alert">
                    <div class="arlert">
                        <h6>Trang web học tập miễn phí làm vì đam mê !!!!!</h6>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-md-12 col-lg-4">
                <div class="trai">
                    <img src="assets/img/nhanh.jpg" alt="">
                </div>
            </div>
            <div class="col-12 col-md-12 col-lg-4">
                <div class="trai">
                    <img src="assets/img/skill.jpg" alt="">
                </div>
            </div>
            <div class="col-12 col-md-12 col-lg-4">
                <div class="phai">
                    <img src="assets/img/kienthuc2.jpg" alt="">
                </div>
            </div>
        </div>
        <div class="alert alert-dark" role="alert">
            <div class="arlert">
                <H3>GÓP Ý</H3>
            </div>
        </div>
        <div class="row">
            <div class="col-6 col-md-6 col-lg-6">
                <h3>những lời góp ý là sự đóng góp quý báo của các bạn đối với chúng tôi , xin cảm ơn !!!</h3>
                <h3>Liện hệ chúng tôi tại đây : =></h3> 
                
            </div>
            <div class="col-6 col-md-6 col-lg-6">
                    <form>
                            <div class="row">
                              <div class="col">
                                <input type="text" class="form-control" placeholder="name">
                              </div>
                              <div class="col">
                                <input type="text" class="form-control" placeholder="Email">
                              </div>
                            </div>
                            <div class="form-group">
                                    <label for="exampleFormControlTextarea1">Comment</label>
                                    <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
                            </div>
                            <div class="abc">
                            <button type="submit" class="btn btn-dark">Send</button>
                        </div>
                      </form>
            </div>

        </div>
        <div class="row">
            <div class="col-12 col-md-12 col-lg-12">
                <div class="duoi">
                    <h1>Chúng tôi xin hứa sẽ hoàn toàn lắng nghe ý kiến của các bạn !!!</h1>
                </div>
            </div>
        </div>
    </div>
</body>
<footer>
        <div class="container">
            <div class="alert alert-secondary" role="alert">
                © All rights reserved
            </div>
        </div>
</footer>
</html>