<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>

<body>
    <div class="header">
        <div class="container">
            <a class="navbar-brand" href="#">Assignment</a>
        </div>
    </div>
    <div class="mid">
        <div class="container">
            <div class="row">
                <div class="col-12 col-md-12 col-lg-4">

                </div>
                <div class="col-12 col-md-12 col-lg-4">
                    <div class="card text-center" style="width: 28rem;">
                        <div class="card-body">
                            <h5 class="card-title">Đăng Kí</h5>
                            <form>

                                <div class="col">
                                    <input type="text" class="form-control" placeholder="Tên truy cập"
                                        [(ngModel)]="dulieu.username" [ngModelOptions]="{standalone: true}">
                                </div>
                                <br>
                                <div class="col">
                                    <input type="text" class="form-control" placeholder="password"
                                        [(ngModel)]="dulieu.password" [ngModelOptions]="{standalone: true}">
                                </div>
                                <br>
                                <div class="col">
                                    <input type="text" class="form-control" placeholder="Full name">
                                </div>
                                <br>
                                <div class="col">
                                    <input type="text" class="form-control" placeholder="Email"
                                        [(ngModel)]="dulieu.email" [ngModelOptions]="{standalone: true}">
                                </div>
                                <br>
                                <div class="col">
                                    <input type="text" class="form-control" placeholder="giới tính"
                                        [(ngModel)]="dulieu.gender" [ngModelOptions]="{standalone: true}">
                                </div>
                                <br>
                                <div class="col">
                                    <input type="text" class="form-control" placeholder="Sinh nhật"
                                        [(ngModel)]="dulieu.birthday" [ngModelOptions]="{standalone: true}">
                                </div>
                                <br>
                                <div class="col">
                                    <input type="text" class="form-control" placeholder="Học phí"
                                        [(ngModel)]="dulieu.schoolfee" [ngModelOptions]="{standalone: true}">
                                </div>
                                <br>
                                <div class="col">
                                    <input type="text" class="form-control" placeholder="Mark" [(ngModel)]="Mark"
                                        [ngModelOptions]="{standalone: true}">
                                </div>

                                <div class="col">
                                    <div class="custom-control custom-checkbox">
                                        <input type="checkbox" class="custom-control-input" id="customCheck1">
                                        <label class="custom-control-label" for="customCheck1">Tôi đồng ý với điều khoản
                                            sử dụng.</label>
                                    </div>
                                </div>
                            </form>
                            <br>
                            <a class="btn btn-primary" (click)="laydulieu()">Enter</a>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-12 col-lg-4"> 
                </div>
            </div>
        </div>
    </div>
</body>

</html>