<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

</head>

<body>
    <br>
    <div class="container">
        <div class="row">
            <div class="col-6 col-md-4 col-lg-4">
                <div class="ok">

                    <div class="card" style="width: 18rem;">

                        <nav class="navbar navbar-light bg-dark">
                            <p><i class="fa fa-align-justify"></i></p>
                            <br>
                            <div class="imgg">
                                <a class="navbar-brand" href="#">

                                    <img src="assets/cai-choi.gif" alt="" width="40px" height="35px">

                                </a>
                            </div>
                        </nav>
                        <div class="card-body bg-dark">
                            <p><i class="fa fa-address-book"></i><a href="#">Home</a></p>
                            <p><i class="fa fa-address-book"></i><a href="#">Employee</a></p>
                            <p><i class="fa fa-address-book"></i><a href="#">Project</a></p>
                            <p><i class="fa fa-address-book"></i><a href="#">Skill</a></p>
                            <p><i class="fa fa-address-book"></i><a href="#">Interms</a></p>
                            <p><i class="fa fa-address-book"></i><a href="#">Topic</a></p>
                            <p><i class="fa fa-address-book"></i><a href="#">Course</a></p>
                            <p><i class="fa fa-address-book"></i><a href="#">Topic-Counter</a></p>
                            <p><i class="fa fa-address-book"></i><a href="#">Classes</a></p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-6 col-md-8 col-lg-8">
                <div class="edit">
                    <a href="#">Home</a>/
                    <a href="#">Skill</a>
                </div>
                <div class="container">
                    <div class="col-6 col-md-6 col-lg-6">
                        <form>
                            <div class="form-row align-items-center">
                                <div class="col-auto my-1">
                                    <div class="custom-control custom-checkbox mr-sm-2">
                                        show
                                    </div>
                                </div>
                                <div class="col-auto my-1">
                                    <label class="mr-sm-2 sr-only" for="inlineFormCustomSelect">Preference</label>
                                    <select class="custom-select mr-sm-2" id="inlineFormCustomSelect">
                                        <option selected>Choose...</option>
                                        <option value="1">1</option>
                                        <option value="2">2</option>
                                        <option value="3">3</option>
                                        <option value="4">4</option>
                                        <option value="5">5</option>
                                        <option value="6">6</option>
                                        <option value="7">7</option>
                                        <option value="8">8</option>
                                        <option value="9">9</option>
                                        <option value="10">10</option>
                                    </select>
                                </div>
                                <div class="col-auto my-1">
                                    <div class="custom-control custom-checkbox mr-sm-2">
                                        entered
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="col-6 col-md-6 col-lg-6">

                    </div>
                    <table class="table table-borderless">
                            <thead>
                                <tr>
                                    <th scope="col"><b>id</b></th>
                                    <th scope="col">Name</th>
                                    <th scope="col">Lastname</th>
                                    <th scope="col">Email</th>
                                    <th scope="col">Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <th scope="row">1</th>
                                    <td>Cong</td>
                                    <td>Ngo</td>
                                    <td>dsađasadsáá</td>
                                    <td>dsađasadsáá</td>
                                </tr>
                                <tr>
                                    <th scope="row">2</th>
                                    <td>Thuy</td>
                                    <td>Thanh</td>
                                    <td>dsádấdâdấd</td>
                                    <td>dsádấdâdấd</td>

                                </tr>
                                <tr>
                                    <th scope="row">3</th>
                                    <td>Thuy</td>
                                    <td>Thanh</td>
                                    <td>dsádấdâdấd</td>
                                    <td>dsádấdâdấd</td>
                                </tr>
                                <tr>
                                    <th scope="row">4</th>
                                    <td>Thuy</td>
                                    <td>Thanh</td>
                                    <td>dsádấdâdấd</td>
                                    <td>dsádấdâdấd</td>
                                </tr>
                                <tr>
                                    <th scope="row">5</th>
                                    <td>Thuy</td>
                                    <td>Thanh</td>
                                    <td>dsádấdâdấd</td>
                                    <td>dsádấdâdấd</td>
                                </tr>
                            </tbody>
                        </table>
                        <div class="row">
                            <div class="col-8 col-md-8 col-lg-8">
                                <p>showing 1 to 5 of 5 Employee</p>
                            </div>
                            <div class="col-4 col-md-4 col-lg-4">
                                    <div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
                                            <div class="btn-group mr-2" role="group" aria-label="First group">
                                              <button type="button" class="btn btn-secondary"><<</button>
                                              <button type="button" class="btn btn-secondary"><</button>
                                              <button type="button" class="btn btn-secondary">1</button>
                                              <button type="button" class="btn btn-secondary">></button>
                                              <button type="button" class="btn btn-secondary">>></button>
                                            </div>
                                           
                                          </div>
                            </div>

                        </div>
                </div>
                
            </div>
        </div>
    </div>
</body>

</html>